html {
  scroll-behavior: smooth;
  background-color: #f0fdf4; /* Light green background */
}

/* General reset for padding and margin */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial, sans-serif';
  color: #2d3748; /* Darker text color */
  background-color: #f0fdf4; /* Light green background */
  line-height: 1.6;
}